{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["esnext", "standard", "react-app"],
  "plugins": ["babel", "import", "react", "react-hooks", "jsx-a11y"],
  "rules": {
    // TODO: Remove when is https://github.com/babel/babel-eslint/issues/530 fixed
    "template-curly-spacing": "off",
    "indent": "off",

    "class-methods-use-this": ["off"],
    "react/jsx-no-bind": [
      "warn",
      {
        "ignoreDOMComponents": true,
        "ignoreRefs": true,
        "allowArrowFunctions": true,
        "allowFunctions": true
      }
    ],
    // 检查 Hook 的规则
    "react-hooks/rules-of-hooks": "error",
    // 检查 effect 的依赖
    "react-hooks/exhaustive-deps": "warn"
  }
}
