{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "esnext",
    "standard",
    "react-app"
  ],
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "class-methods-use-this": [
      "warn",
      {
        "exceptMethods": [
          "render",
          "componentDidMount",
          "componentDidUpdate",
          "componentWillUnmount",
          "shouldComponentUpdate",
          "getSnapshotBeforeUpdate",
          "componentDidCatch",
          "UNSAFE_componentWillMount",
          "UNSAFE_componentWillReceiveProps",
          "UNSAFE_componentWillUpdate"
        ]
      }
    ],
    "react/jsx-no-bind": [
      "warn",
      {
        "ignoreDOMComponents": true,
        "ignoreRefs": true,
        "allowArrowFunctions": true,
        "allowFunctions": true
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    // 检查 Hook 的规则
    "react-hooks/exhaustive-deps": "warn"
    // 检查 effect 的依赖
  }
}
