@import url("http://10.211.32.231/test.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

#app {
  text-align: center;
  span {
    color: green;
  }
  #cnt {
    color: white;
    font-family: Roboto;
  }
}
